<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/theme.css" rel="stylesheet">

</head>

<body>

  <div id="wrapper">

    {% include sidebar.html %}

    <div class="navbar navbar-default navbar-static-top">
      <div class="navbar-title">
        <span class="title">
          <a href="{{ site.baseurl }}">{{ site.name }}</a>
        </span>
        <span class="subtitle">{{ site.subtitle }}</span>
      </div>
      <div class="header-about-toggle">
        <a href="#sidebar-toggle" class="btn btn-default" id="sidebar-toggle">
          <span class="icon-bar"> </span>
          <span class="icon-bar"> </span>
          <span class="icon-bar"> </span>
        </a>
      </div>
    </div>
