    <div id="about-wrapper">
      <div class="about-masthead">
        <h1>Kevin Clair</h1>
      </div>

      <div class="about-contents">
        <ul>
          <li><a href="{{ site.home }}/about">About</a></li>
          <li><a href="{{ site.home }}/projects">Projects</a></li>
          <li><a href="{{ site.home }}/archives">Archives</a></li>
          <li class="last-item"><a href="{{ site.home }}/credits">Credits</a></li>
        </ul>
      </div>

      <div class="about-rights">
        <p>&copy; {{ site.time | date: '%Y' }}. <a href="http://creativecommons.org/licenses/by/4.0/">CC-BY</a></p>
      </div>
    </div>
