{% include header.html %}

<div class="container-fluid content">
  <div class="row-fluid">
    <div class="article">
      <h1 class="title">
        <a href="{{ site.baseurl}}{{ page.url }}">{{ page.title }}</a>
      </h1>
      <div class="post-content">
        {{ content }}
      </div>
      <div class="post-signature">
        <p>Written on {{ post.date | date: '%B %d, %Y' }}. Questions, comments, or just want to chat about whatever? <a href="mailto:kevin@jackflaps.net">I like e-mails.</a></p>
      </div>

    </div>
  </div>
</div>

{% include footer.html %}
